<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="justify-content:space-between;flex-wrap: nowrap;min-width: 1000px;">
          <a class="navbar-brand" href="#"><img style="width:200px;height:50px;object-fit:contain;" src="https://static.cdninstagram.com/rsrc.php/v3/y-/r/yXM3FgMdVNX.png"></a>
            
            <input class="form-control me-2" style="width:400px" type="search" placeholder="Search" aria-label="Search">
            <div>
                <span class="material-symbols-outlined">home</span>
                <span class="material-symbols-outlined">Send</span>
                <span class="material-symbols-outlined">add_box</span>
                <span class="material-symbols-outlined">explore</span>
                <span class="material-symbols-outlined">favorite </span>
            </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <div style="display:flex;flex-direction:row;">
        <div style="width:600px;height:1000px;background-color: blueviolet;"></div>
        <div style="width:400px;height:1000px;background-color:coral"></div>
    </div>
  </body>
</html>